<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sut.school_mall.mapper.GoodMapper">
    <select id="getAllGoods" resultType="com.sut.school_mall.bean.Good">
        SELECT * FROM good WHERE good_type=#{goodType} AND good_store=#{goodStore}
    </select>
</mapper>
